/* ==============================
   SHEDFAX : BASE PAGE
============================== */

h1 {
  text-align:center;
  background-color:#0000ff;
  color:#ffff00;
  margin:0px;
  padding:20px 0px;
}

h3 {
  color:#ffff00;
}

hr {
  height:6px;
  width:100%;
  color:#0000ff;
  background-color:#0000ff;
  border:1px solid #0000ff;
  margin:20px 0px;
}


.pagetitle {
  border: 1px solid blue;
color:#ffffff;
align-items: flex-start;

}



/* ==============================
   SHEDFAX : LAYOUT
============================== */


/*codepen.io teletext styles https://codepen.io/jsanderson/pen/yoLLjv */

body {
  background-color:#000000 !important;
  color:#ffffff;
  font-family: 'Press Start 2P', monospace !important;

  border: solid #0000ff;
border-width: 25px 15px 0px 15px;
}


#main, #header, #footer {
  width:auto;
 
  padding-right:20px;
  margin-top:30px;
  margin-left:auto;
  margin-right:auto;
 
}

#header {
  text-align:left;
}

#main {
  /*min-height:730px;*/

  color: white;
}

#footer {

  padding-top:20px;
}

/* Bootstrap Styles */

  .row {

   /* border:1px solid red;*/
    color: white;
  }

  
.col-sm-8 {
  word-wrap: break-all;

}

.col-sm-4 {
  word-wrap: break-all;
  
}




/* ==============================
   SHEDFAX : PROJECT LIST
============================== */

.listleft, .listright {
  float:left;
  margin:5px 0px;
}

.listleft {
  width:90%;
  color:#00ffff;
}

.listright {
  width:10%;
  text-align:right;
}

/* ==============================
   SHEDFAX : SIDEBAR
============================== */


.col-sm-4 .sidemenu,
.col-sm-4 .shedfax-audio {
  margin-left: 20px;
}

.col-sm-4 .shedfax-audio {
  max-width: calc(100% - 20px);
}

.col-sm-4 h3 {

  margin-left: 40px;
}

.sidemenu a {
  
  text-align:right;

}

.sidebarlogo {
  margin: 0 0 0 20px;
  width:200px;
}


ul.sidemenu {

  overflow-wrap:break-word;
}


/* ==============================
   SHEDFAX : FOOTER COLOURS
============================== */



.footer-block {
  
  text-align:center;
}

.red {
  color: #ff0000;
}

.green {
  color: hsl(120, 100%, 50%);
}

.yellow {
  color: #ffff00;
}

.blue {
  color: #00ffff;
}





/* ==============================
   SHEDFAX : HEADER CARDS
============================== */

/* ==============================
   SHEDFAX : RESPONSIVE RULES
============================== */


/* ==============================
   SHEDFAX : BEHAVIOUR AND EFFECTS
============================== */

/*Shedfax Text Slow Nav related*/

/* CSS for count display positioning */


.card {
  /* Remove height property */
  background:#000000;
 border: 0px !important;
  
}

.card-body {
 
  background: black;
  padding: 0rem 0rem !important;
}

.row.align-items-start {
  /* Align items to top of column */
  align-items: flex-start;
}

#test {

  border:1px solid purple;
}

.countercolor, a.countercolor 
{

color:green !important;

}



.info {
  display:flex;
 border: 3px solid red;
    height:30px;
  
}


.counter {
  margin:0px !important;
  padding:0px !important;
}


.count-display  {
  
  color:#ffffff;
  align-items: flex-start;
  float:left;
}




#timer {
  border: 3px solid rgb(128, 0, 0);
  color:#ffffff;
  align-items: flex-start;
float:left;
  
}



  

.p5 {
  background-color:#000000; 
}

.highlight::first-letter {

  color:red !important;
}



ul {
  margin: 0 0 0 20px; 
  list-style-type: none !important;

}


figure {
  margin: 0;
}



#clock {
  /*border: 1px solid blue; */
 font-size:100%;
 color:#ffffff;

 margin:0px;
 align-items: flex-start;
}



/* ==============================
   SHEDFAX : MEDIA QUERIES
============================== */





@media screen and (max-width: 850px) {
  #header, #main, #footer {
    width:100%;
    /*word-wrap: break-word;*/
    
  }

  #main h2 {

    word-wrap: break-word;

    
  }

}



@media (max-width: 576px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}

